* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, serif  ;
    transition: 0.2s;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #00404c;
    transition: 0.4s;
}
html{
   transition: 0.3s;
}

#top,#bottom {
    position: absolute;
    z-index: 1;
    width: 100vw;
    background-color: #252525;
    height: 50vh;
    transition: 0.6s linear;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#front {
    color:white;
    padding: 20px;
    position: fixed;
    z-index: 1000;
}

@media (max-height: 680px), screen and (orientation: portrait) {
    #front{
        max-height: 50vh;
    }
}


#project-title {

    font-size:200px;
    color: transparent;
    -webkit-text-stroke: 7px white;
    transition: 2s;
}

#small-pitch {
    margin-top: 30px ;
    width: 10vw;
    color: gray;
}

::-webkit-scrollbar {
    display:none ;
}


#projects {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    perspective: 1200px;
    font-family: racing_sans_oneregular, Arial, serif;
    text-align: right;
}

@media (max-height: 680px), screen and (orientation: portrait) {
    #projects{
        top: 10%;
        padding-left: 0;
        left: -5%;
        font-size: 30px;
    }
}

.project-text {
    transform: rotateY(-40deg);
    transition: 0.2s;
    font-family: racing_sans_oneregular, Arial, serif;
    text-align: right;
    color: transparent;
    -webkit-text-stroke: 1px white;
    cursor: pointer;

}
.project-text {
    transform: rotateY(-40deg);
}
/*#wiz-cube {transform: rotateY(-40deg);}
#plant-reminder {transform: rotateY(-40deg);}
#nft {transform: rotateY(-40deg);}
#clicker {transform: rotateY(-40deg);}*/

/*#wiz-cube:hover,
#plant-reminder:hover,
#nft:hover,
#clicker:hover*/
.project-text:hover{
    transition: 0.2s;
    transform: rotateY(30deg);
    color: white;

}

@media (max-height: 680px), screen and (orientation: portrait) {

}
#small-pitch {
    cursor: pointer;
}

#small-pitch:hover {
    color: white;
}
@media (max-height: 680px), screen and (orientation: portrait) {
    #small-pitch{
        display: none;
    }
}
ul {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

li {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding-bottom: 10px;
    font-family: Arial, serif ;
    width: auto;
    cursor: pointer;
}

#logo-name {
    font-size: 60px;
    font-family: Arial, serif  ;

}

@font-face {
    font-family: 'racing_sans_oneregular';
    src: url('/assets/racingsansone-regular-webfont.woff2') format('woff2'),
    url('assets/racingsansone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    align-items: center;
}

#github {
    margin-top: 0;
}


.nav-bar:active {
    color: #000000;
}

a {
    color: white;
    text-decoration: none;
}



#phone-number{
    position: relative;
}
#numberPhone {
    padding-left: 20px;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 30px;
    font-size: 20px;
}

#numberPhone:hover{
    color: white;
}

#email{
    position: relative;
}
#mail {
    padding-left: 20px;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 30px;
    font-size: 20px;
    text-align: end;
}

#mail:hover{
    color: white;
}

img:hover{
    opacity: 0.7;
}

#socials {
    visibility: hidden;
}

@media (max-height: 680px), screen and (orientation: portrait) {
    #logosss{
        visibility: hidden;
        padding: 10px;
        position: fixed;
        background-color: rgba(51, 51, 51, 0.65);
        width: 100vw;
        padding-left: 20px;
        left: 0;
        align-items: center;
        justify-content: center;

    }
    img {
        height: 30px;
    }
    #menuss{
        display: flex;
        flex-direction: row;
    }
    body{
        height: 100vh;
    }

    li{
        padding: 10px;
    }
    #socials {
        visibility: visible;
    }
}

#back-ground{
    position: fixed;
    bottom: 0;
    z-index: -10;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#mail-pic{
    width: 18px;
}

