* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, serif;
    transition: 0.2s;
}



body {
    background-color: #d5d5d5;
    overflow: clip;
}

::-webkit-scrollbar {
    display:none ;
}

#project-title {
    font-size:200px;
    color: transparent;
    -webkit-text-stroke: 7px white;
    transition: 2s;
    text-align: center;
}

#top,#bottom {
    position: absolute;
    z-index: 1;
    width: 100vw;
    background-color: #00404c;
    height: 55vh;
    transition: 0.6s linear;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#front {
    color: ghostwhite;
    mix-blend-mode: difference;
    padding: 20px;
    position: fixed;
    z-index: 1000;
}

#project-hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/images/Untitled-1.png");
    background-size: cover;
    height: 100vh;
    min-width: 100vw;
}
#project-hero-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1642432556591-72cbc671b707?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 100vh;
    min-width: 100vw;
    color: #000000;
}
#project-hero-div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url("assets/images/shubham-dhage-fmCr42xCLtk-unsplash.jpg");
    height: 100vh;
    min-width: 100vw;
    color: #000000;
}





#back-arrow {
    z-index: 2;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    font-size: 12px;text-align: right;
    align-items: center;
}

#arrow-img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: ghostwhite;
    filter: brightness(0) invert(1);
}
#logo-name {
    font-size: 60px;
}

a {
    color: white;
    text-decoration: none;
}

/*#all{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/images/n5.svg");

}*/
@keyframes upDown {
    from {transform: translateY(10px) rotateZ(-90deg)}
    to {transform: translateY(-10px) rotateZ(-90deg)}
}

#scroll-arrow {
    cursor: pointer;
    height: 40px;
    width: 40px;
    left: 50%;
    bottom: 8%;
    transform: rotateZ(-90deg);
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(81deg) brightness(100%) contrast(101%);
    z-index: 1000;
    animation: upDown 2s alternate running infinite;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

#i-frame {
    border: none;
    width: 100vw;
    height: 100vh;
    margin-top: 3%;
    overflow: hidden;
    z-index: -3;
    overflow: hidden;
}

#nextP{
    height: 30px;
    rotate: 180deg;
    margin-right: 30px;
}

#footer{
    display: flex;
    width: 100vw;
    background-color: #d5d5d5;
    height: 20vh;
    justify-content: right;
}

#nextPDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 30px;
}

#section-0 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: -5%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    height: 92vh;
    margin-right: 10%;
}

#wizCubeText1 {
    position: absolute;
    gap: 70px;
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 46%;
    top: 0;
    z-index: 1;
}

#phone{
    position: absolute;
    top: 4%;
    left:15%;
    width: 20%;
    height: 80%;
    z-index: 2;
}

    #phone2{
        position: absolute;
        top: 8%;
        left: 1%;
        width: 40%;
        height: 80%;
        z-index: -1;
    }



#bgcp {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100vw;
    height: 300px;
    z-index: -2;

}
#bgcp2 {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100vw;
    height: 500px;
    z-index: -2;

}
.cards-info{
    background-image: linear-gradient(45deg, rgba(53, 53, 53, 0.78), rgba(100, 100, 100, 0.49));
    color: #ffffff;
    padding: 14px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.13);
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
}

ol {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row: auto;
    column-gap: 4%;
    padding: 0;
    margin-bottom: 10px;
}
@media (max-height: 680px), screen and (orientation: portrait) {
    ol{
        grid-template-columns: auto auto;
    }

    #wizCubeText1 {
        font-size: 30px;
        padding-right: 5%;
        padding-left: 5%;
        font-weight: lighter;
    }

    #phone{
        height: 70%;
        width: 50%;
        margin-left: 0;
        top: 19%;
        z-index: -1;
        opacity: 0;
    }
   #section-0{
       height: 60vh;
       width: 100vw;
       font-size: 20px;
   }
   #footer{
   }



}

#tech-stack{
    color: white;
}

.tech-logo{
    height: 40px;
    box-shadow: -12px 12px 40px rgba(0, 0, 0, 0.3);
}

#tech-stack-section{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;

}

#article{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
